/* Importing font-faces */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

:root {
  /* Colors variables */

  --cl-teal: 177, 68%, 64%;
  --cl-rust: 12, 94%, 65%;
  --cl-orange: 33, 100%, 70%;
  --cl-white: 20, 33%, 98%;
  --cl-black: 244, 23%, 12%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  background: url(/assets/bg-main-mobile.png), hsla(var(--cl-white), 1);
  background-repeat: no-repeat, no-repeat;
  background-size: 582px 780px, 100% 100%;
  background-position: calc(50% + 90px) -250px, center center;
  z-index: -1;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  color: hsal(var(--cl-black), 1);
  padding-bottom: 80px;
}

.app-wrapper {
  width: 375px;
  margin: 0 auto;
}

header {
  margin: 40px 24px;
}

.logo {
  width: 147px;
}

main {
  margin: 55px 24px 170px;
}

.main-header {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.45px;
  line-height: 48px;
  margin-bottom: 20px;
}

.main-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.plan-container {
  position: relative;
  width: 100%;
  height: 600px;
  background: url(/assets/bg-pattern-2.svg), black;
  background-size: 280px 420px, 375px 600px;
  background-position: center top, top center;
  background-repeat: no-repeat, no-repeat;
  border-radius: 12px;
  margin-bottom: 390px;
}

.device-container {
  position: absolute;
  width: 209px;
  height: 430px;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}

.device-container img {
  width: 100%;
}

.price-card {
  position: absolute;
  box-sizing: border-box;
  padding: 48px 36px;
  top: 380px;
  width: 375px;
  background: hsla(var(--cl-rust), 1);
  color: hsla(var(--cl-white), 1);
  border-radius: 12px;
}

.plan-header {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  padding-bottom: 12px;
}

.plan-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 36px;
}

.price-tag {
  display: flex;
  align-items: center;
  gap: 0.25em;
  font-size: 65px;
  font-weight: 700;
  line-height: 52px;
  margin-left: 5px;
}

.price-tag span {
  font-size: 20px;
  font-weight: 400;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 40px 5px 0px 5px;
}

.cta-button {
  border: 0;
  font-size: 18px;
  font-weight: 700;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  border-radius: 12px;
  box-shadow: 3px 3px 10px 0px hsla(var(--cl-black), 0.3);

  cursor: pointer;
}

.cta-icon {
  height: 18px;
}

.android-cta {
  background: hsla(var(--cl-white), 1);
  color: hsla(var(--cl-black), 1);
}

.ios-cta {
  background: hsla(var(--cl-black), 1);
  color: hsla(var(--cl-white), 1);
}

.android-cta:hover {
  background: hsla(var(--cl-orange), 1);
}

.ios-cta:hover {
  background: hsla(var(--cl-teal), 1);
}

.android-cta:active {
  background: hsla(var(--cl-orange), 1);
  box-shadow: 3px 3px 10px 0px hsla(var(--cl-black), 0.3) inset;
}

.ios-cta:active {
  background: hsla(var(--cl-teal), 1);
  box-shadow: 3px 3px 10px 0px hsla(var(--cl-black), 0.3) inset;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 32px;
}

.contact a {
  color: hsla(var(--black), 1);
}

.social {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 32px;
}

.social-icon {
  width: 20px;
}

.social-icon:hover {
  filter: invert(74%) sepia(57%) saturate(5327%) hue-rotate(327deg)
    brightness(103%) contrast(96%);
}

/* ###########################################
   #             START OF                    #
   #         TABLET SIZE STYLES              #
   #                                         #
   ########################################### */
@media screen and (min-width: 768px) {
  html {
    background: url(/assets/bg-pattern-1.svg), url(/assets/bg-main-tablet.png),
      hsla(var(--cl-white), 1);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 267px 400px, 1283px 1108px, 100% 100%;
    background-position: calc(50% + 280px) -40px, calc(50% - 150px) -250px,
      center center;
    z-index: -1;
  }

  body {
    padding-bottom: 85px;
  }

  header {
    margin: 60px 40px;
  }

  .app-wrapper {
    width: 768px;
    margin: 0 auto;
  }

  main {
    margin: 95px 40px 250px;
    width: 515px;
  }

  .main-header {
    font-size: 64px;
    letter-spacing: -0.75px;
    line-height: 64px;
    margin-bottom: 28px;
  }

  .main-text {
    font-size: 18px;
    line-height: 28px;
  }

  .plan-container {
    position: relative;
    width: auto;
    height: 600px;
    border-radius: 12px;
    margin: 0 36px 190px 40px;

    background-position: 229px -31px, top center;
    background-repeat: no-repeat, no-repeat;
  }

  .device-container {
    position: absolute;
    width: 270px;
    height: 556px;
    top: -140px;
    left: 0%;
    transform: none;
    margin-left: 64px;
  }

  .price-card {
    position: absolute;
    width: 400px;
    top: 150px;
    right: 0%;
    margin-right: 58px;
  }

  footer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    margin: 0 32px;
    justify-content: space-between;
  }

  .logo-footer-container {
    width: 100%;
  }

  .contact {
    width: 55%;
  }

  .social {
    margin-top: 0;
  }
}
/* ###########################################
   #             END   OF                    #
   #         TABLET SIZE STYLES              #
   #                                         #
   ########################################### */

/* ###########################################
   #             START OF                    #
   #        DESKTOP SIZE STYLES              #
   #                                         #
   ########################################### */
@media screen and (min-width: 1440px) {
  html {
    background: url(/assets/bg-pattern-1.svg), url(/assets/bg-main-desktop.png),
      hsla(var(--cl-white), 1);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 312px 468px, 1913px 2058px, 100% 100%;
    background-position: calc(50% + 564px) -40px, calc(50% - 100px) -250px,
      center center;
    z-index: -1;
  }

  body {
    padding-bottom: 120px;
  }

  header {
    margin: 60px 165px;
  }

  .app-wrapper {
    width: 1440px;
    margin: 0 auto;
  }

  main {
    margin: 125px 165px 320px;
    width: 850px;
  }

  .main-header {
    font-size: 88px;
    letter-spacing: -1px;
    line-height: 88px;
    margin-bottom: 40px;
  }

  .main-text {
    font-size: 20px;
    line-height: 34px;
  }

  .plan-container {
    position: relative;
    width: auto;
    height: 600px;
    border-radius: 12px;
    margin: 0 165px 200px;
    background-position: 336px -31px, top center;
  }

  .device-container {
    position: absolute;
    width: 312px;
    height: 642px;
    top: -215px;
    left: 0%;
    transform: none;
    margin-left: 102px;
  }

  .price-card {
    position: absolute;
    width: 445px;
    top: 90px;
    right: 0%;
    margin-right: 95px;
    padding: 60px 56px 48px;
  }

  .plan-header {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    padding-bottom: 22px;
  }

  .plan-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    padding-bottom: 39px;
  }

  footer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    margin: 0 165px;
    justify-content: space-between;
  }

  .logo-footer-container {
    width: 300px;
  }

  .contact {
    width: 366px;
  }

  .social {
    flex-grow: 1;
    margin-top: unset;
    align-content: flex-end;
    justify-content: flex-end;
  }
}
/* ###########################################
   #             END   OF                    #
   #        DESKTOP SIZE STYLES              #
   #                                         #
   ########################################### */
